<div id="<%= dom_id fund_account %>">
  <p>
    <strong>Entity:</strong>
    <%= fund_account.entity %>
  </p>

  <p>
    <strong>Account type:</strong>
    <%= fund_account.account_type %>
  </p>

  <p>
    <strong>Ifsc:</strong>
    <%= fund_account.ifsc %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= fund_account.name %>
  </p>

  <p>
    <strong>Bank account:</strong>
    <%= fund_account.bank_account %>
  </p>

  <p>
    <strong>Account number:</strong>
    <%= fund_account.account_number %>
  </p>

  <p>
    <strong>Vpa address:</strong>
    <%= fund_account.vpa_address %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= fund_account.active %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= fund_account.contact_id %>
  </p>

</div>
