<div id="<%= dom_id pay %>">
  <p>
    <strong>Name:</strong>
    <%= pay.name %>
  </p>

  <p>
    <strong>Contact no:</strong>
    <%= pay.contact_no %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= pay.email %>
  </p>

  <p>
    <strong>Upi:</strong>
    <%= pay.upi_id %>
  </p>

  <!-- <p>
    <strong>Amount:</strong>
    <%= pay.amount %>
  </p> -->

</div>
