<div id="<%= dom_id payout %>">
  <p>
    <strong>Account number:</strong>
    <%= payout.account_number %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payout.amount %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= payout.currency %>
  </p>

  <p>
    <strong>Mode:</strong>
    <%= payout.mode %>
  </p>

  <p>
    <strong>Purpose:</strong>
    <%= payout.purpose %>
  </p>

  <p>
    <strong>Fund account:</strong>
    <%= payout.fund_account_id %>
  </p>

</div>
